Import data

In [1]:
import pandas as pd

In [2]:
data_test = pd.read_csv("./fwi_2020.csv")
data_2015 = pd.read_csv("./fwi_2015.csv")
data_2010 = pd.read_csv("./fwi_2010.csv")
data_2000 = pd.read_csv("./fwi_2000.csv")
data_1990 = pd.read_csv("./fwi_1990.csv")
wmo = pd.read_csv("./wmo_station.csv")
labels = pd.read_csv("./data.csv")

C:\Users\kevin\AppData\Local\Temp\ipykernel_15352\2094605095.py:7: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  labels = pd.read_csv("./data.csv")

Data test

In [3]:
pd.set_option("display.max_columns", None)
data_test.head()

,aes,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,opts,calcstatus
0,1012475,71031,2019-08-01 12:00:00,17.1,14.6,86.0,3.9,5.4,185,1013.4,24.6,0.0,6,0.0,79.5,22.1,421.0,39.0,1.3,3.2,0.2,IDW=R:M=1:,1
1,1012710,71798,2019-08-01 12:00:00,14.2,12.5,90.0,7.9,9.2,193,1014.7,24.7,0.0,15,0.0,79.9,28.3,476.5,49.4,1.7,5.0,0.5,M=1:,1
2,1014820,71774,2019-08-01 12:00:00,19.7,18.3,92.0,7.6,NaN,128,1014.2,39.4,0.0,13,0.0,77.6,23.6,769.6,43.8,1.3,3.6,0.3,IDW=WSD:R:M=1:,1
3,1015630,71927,2019-08-01 12:00:00,21.7,12.9,57.0,1.9,8.7,241,1014.3,35.2,0.0,13,0.0,88.2,76.7,544.1,113.5,3.6,16.4,3.8,M=1:,1
4,1016640,71778,2019-08-01 12:00:00,13.9,11.9,88.0,10.1,11.8,79,1015.1,26.6,0.0,5,0.0,80.3,17.9,389.3,32.1,2.0,4.3,0.4,IDW=R:M=1:,1

In [4]:
data_test.shape

(2006112, 23)

In [5]:
pd.set_option("display.max_rows", None)
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006112 entries, 0 to 2006111
Data columns (total 23 columns):
 #   Column      Dtype
---  ------      -----
 0   aes         object
 1   wmo         int64
 2   rep_date    object
 3   temp        float64
 4   td          float64
 5   rh          float64
 6   ws          float64
 7   wg          float64
 8   wdir        int64
 9   pres        float64
 10  vis         float64
 11  precip      float64
 12  rndays      int64
 13  sog         float64
 14  ffmc        float64
 15  dmc         float64
 16  dc          float64
 17  bui         float64
 18  isi         float64
 19  fwi         float64
 20  dsr         float64
 21  opts        object
 22  calcstatus  int64
dtypes: float64(16), int64(4), object(3)
memory usage: 352.0+ MB

In [6]:
data_test.drop(["aes","opts", "calcstatus"], axis=1, inplace=True)

In [7]:
data_test["rep_date"] = pd.to_datetime(data_test["rep_date"])
data_test["wmo"] = data_test["wmo"].astype(object)

In [8]:
data_test.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,71031,2019-08-01 12:00:00,17.1,14.6,86.0,3.9,5.4,185,1013.4,24.6,0.0,6,0.0,79.5,22.1,421.0,39.0,1.3,3.2,0.2
1,71798,2019-08-01 12:00:00,14.2,12.5,90.0,7.9,9.2,193,1014.7,24.7,0.0,15,0.0,79.9,28.3,476.5,49.4,1.7,5.0,0.5
2,71774,2019-08-01 12:00:00,19.7,18.3,92.0,7.6,NaN,128,1014.2,39.4,0.0,13,0.0,77.6,23.6,769.6,43.8,1.3,3.6,0.3
3,71927,2019-08-01 12:00:00,21.7,12.9,57.0,1.9,8.7,241,1014.3,35.2,0.0,13,0.0,88.2,76.7,544.1,113.5,3.6,16.4,3.8
4,71778,2019-08-01 12:00:00,13.9,11.9,88.0,10.1,11.8,79,1015.1,26.6,0.0,5,0.0,80.3,17.9,389.3,32.1,2.0,4.3,0.4

Data wmo

In [9]:
wmo.head()

,IATA_ID,Name,WMO_ID,MSC_ID,Latitude,Longitude,Elevation(m),Data_Provider,Dataset/Network,AUTO/MAN,Province/Territory
0,CAAB,ST ALBAN'S,73051.0,8400416,47.857730,-55.861122,186.874,MSC,CA,AUTO,Newfoundland and Labrador
1,CAAW,SHEARWATER RCS,71264.0,8205092,44.629840,-63.513290,25.000,MSC,CA,AUTO,Nova Scotia
2,CABB,BEDFORD BASIN,71329.0,8200573,44.706111,-63.633333,5.000,DND,CA,AUTO,Nova Scotia
3,CABF,BURGEO NL,71152.0,8400801,47.613000,-57.610300,8.700,MSC,CA,AUTO,Newfoundland and Labrador
4,CABH,WINTERLAND BRANCH HILL,73080.0,8404242,47.136501,-55.326322,30.260,MSC,CA,AUTO,Newfoundland and Labrador

In [10]:
wmo.dropna(subset=["WMO_ID"], axis=0, inplace=True)

In [11]:
wmo["WMO_ID"] = wmo["WMO_ID"].astype(int)
wmo["WMO_ID"] = wmo["WMO_ID"].astype(object)

In [12]:
wmo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 904 entries, 0 to 1112
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IATA_ID             904 non-null    object
 1   Name                904 non-null    object
 2   WMO_ID              904 non-null    object
 3   MSC_ID              904 non-null    object
 4   Latitude            904 non-null    float64
 5   Longitude           904 non-null    float64
 6   Elevation(m)        904 non-null    float64
 7   Data_Provider       894 non-null    object
 8   Dataset/Network     894 non-null    object
 9   AUTO/MAN            904 non-null    object
 10  Province/Territory  903 non-null    object
dtypes: float64(3), object(8)
memory usage: 84.8+ KB

In [13]:
wmo.head()

,IATA_ID,Name,WMO_ID,MSC_ID,Latitude,Longitude,Elevation(m),Data_Provider,Dataset/Network,AUTO/MAN,Province/Territory
0,CAAB,ST ALBAN'S,73051,8400416,47.857730,-55.861122,186.874,MSC,CA,AUTO,Newfoundland and Labrador
1,CAAW,SHEARWATER RCS,71264,8205092,44.629840,-63.513290,25.000,MSC,CA,AUTO,Nova Scotia
2,CABB,BEDFORD BASIN,71329,8200573,44.706111,-63.633333,5.000,DND,CA,AUTO,Nova Scotia
3,CABF,BURGEO NL,71152,8400801,47.613000,-57.610300,8.700,MSC,CA,AUTO,Newfoundland and Labrador
4,CABH,WINTERLAND BRANCH HILL,73080,8404242,47.136501,-55.326322,30.260,MSC,CA,AUTO,Newfoundland and Labrador

In [14]:
wmo = wmo[["WMO_ID", "Province/Territory"]]
wmo.columns = ["wmo", "Province"]
wmo.head()

     wmo                   Province
0  73051  Newfoundland and Labrador
1  71264                Nova Scotia
2  71329                Nova Scotia
3  71152  Newfoundland and Labrador
4  73080  Newfoundland and Labrador

In [15]:
data_testt = data_test.merge(wmo, how="left", on="wmo")

In [16]:
data_testt.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,Province
0,71031,2019-08-01 12:00:00,17.1,14.6,86.0,3.9,5.4,185,1013.4,24.6,0.0,6,0.0,79.5,22.1,421.0,39.0,1.3,3.2,0.2,British Columbia
1,71798,2019-08-01 12:00:00,14.2,12.5,90.0,7.9,9.2,193,1014.7,24.7,0.0,15,0.0,79.9,28.3,476.5,49.4,1.7,5.0,0.5,British Columbia
2,71774,2019-08-01 12:00:00,19.7,18.3,92.0,7.6,NaN,128,1014.2,39.4,0.0,13,0.0,77.6,23.6,769.6,43.8,1.3,3.6,0.3,British Columbia
3,71927,2019-08-01 12:00:00,21.7,12.9,57.0,1.9,8.7,241,1014.3,35.2,0.0,13,0.0,88.2,76.7,544.1,113.5,3.6,16.4,3.8,British Columbia
4,71778,2019-08-01 12:00:00,13.9,11.9,88.0,10.1,11.8,79,1015.1,26.6,0.0,5,0.0,80.3,17.9,389.3,32.1,2.0,4.3,0.4,British Columbia

In [17]:
data_testt.shape

(2067851, 21)

In [18]:
data_testt.isna().sum()

wmo              0
rep_date         0
temp             0
td            2288
rh             979
ws               2
wg          516067
wdir             0
pres           413
vis              3
precip          77
rndays           0
sog            429
ffmc        817358
dmc         817722
dc          817357
bui         889871
isi         889507
fwi         889872
dsr         889872
Province    969527
dtype: int64

In [19]:
pd.set_option("display.max_rows", 40)
data_test_model = data_testt.groupby(["Province", "rep_date"]).agg("mean").reset_index()

In [20]:
data_test_model.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,Alberta,2019-08-01 12:00:00,71374.451613,22.224194,12.991935,60.415054,7.904839,13.117544,153.741935,1015.663817,29.314516,5.387151,2.575269,0.736559,72.295604,33.593956,263.826923,49.682778,4.465000,12.216667,4.876111
1,Alberta,2019-08-02 12:00:00,71374.451613,25.222043,12.304839,53.188710,14.260753,21.839286,186.010753,1012.473065,29.838172,0.756720,3.016129,0.629032,80.365027,36.484699,269.271585,53.292778,11.066111,23.466111,13.953889
2,Alberta,2019-08-03 12:00:00,71374.451613,21.100000,10.063978,53.008065,16.852688,24.854386,280.758065,1015.568978,30.251075,2.674409,2.956989,0.274194,80.032240,37.678142,273.331694,54.597790,8.172928,19.502762,9.358011
3,Alberta,2019-08-04 12:00:00,71374.451613,22.037097,9.470430,46.264516,14.326882,19.598214,230.177419,1017.567312,27.725806,0.728602,3.112903,0.333333,84.996721,40.136612,279.584699,57.833333,6.590000,16.706111,5.661111
4,Alberta,2019-08-05 12:00:00,71374.451613,24.415054,10.305376,45.130108,13.373656,18.942105,231.408602,1015.355968,24.391398,0.406129,3.672043,0.365591,86.493989,42.956831,286.080328,60.985083,8.430387,20.774586,8.650829

In [21]:
data_test_model.shape

(18459, 21)

In [22]:
data_test_model["rep_date"].describe()

count                            18459
mean     2021-07-11 00:28:40.136518656
min                2019-08-01 12:00:00
25%                2020-07-21 12:00:00
50%                2021-07-11 12:00:00
75%                2022-07-01 00:00:00
max                2023-06-20 12:00:00
Name: rep_date, dtype: object

In [23]:
data_test_model = data_test_model[data_test_model["rep_date"]>="2020-01-01"]

Data from 2000-2009

In [24]:
data_2000.head()

,aes,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,opts,calcstatus
0,1012475,71031,2000-01-01 12:00:00,8.1,4.2,76.8,7.4,NaN,250,1006.37,24.5,5.32,0,0.0,27.0,0.2,1.2,0.3,0.0,0.0,0.0,IDW=RH:R:M=1:,1
1,1012710,71798,2000-01-01 12:00:00,6.7,4.0,82.0,22.2,31.5,250,1005.90,24.1,7.40,0,0.0,25.4,0.1,0.9,0.2,0.0,0.0,0.0,M=1:,1
2,1013998,71036,2000-01-01 12:00:00,7.8,3.8,76.3,16.7,NaN,250,1006.27,27.6,5.31,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=T:RH:R:M=1:,-3
3,1014820,71774,2000-01-01 12:00:00,4.7,2.6,86.0,13.0,NaN,270,1006.06,41.3,9.40,0,0.0,16.8,0.1,0.6,0.1,0.0,0.0,0.0,M=1:,1
4,1017101,71473,2000-01-01 12:00:00,7.0,3.5,78.1,3.7,NaN,330,1006.36,26.6,7.20,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=T:RH:M=1:,-3

In [25]:
data_2000.drop(["aes","opts", "calcstatus"], axis=1, inplace=True)

In [26]:
data_2000["rep_date"] = pd.to_datetime(data_2000["rep_date"])
data_2000["wmo"] = data_2000["wmo"].astype(object)

In [27]:
data_2000.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,71031,2000-01-01 12:00:00,8.1,4.2,76.8,7.4,NaN,250,1006.37,24.5,5.32,0,0.0,27.0,0.2,1.2,0.3,0.0,0.0,0.0
1,71798,2000-01-01 12:00:00,6.7,4.0,82.0,22.2,31.5,250,1005.90,24.1,7.40,0,0.0,25.4,0.1,0.9,0.2,0.0,0.0,0.0
2,71036,2000-01-01 12:00:00,7.8,3.8,76.3,16.7,NaN,250,1006.27,27.6,5.31,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71774,2000-01-01 12:00:00,4.7,2.6,86.0,13.0,NaN,270,1006.06,41.3,9.40,0,0.0,16.8,0.1,0.6,0.1,0.0,0.0,0.0
4,71473,2000-01-01 12:00:00,7.0,3.5,78.1,3.7,NaN,330,1006.36,26.6,7.20,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data_2000 = data_2000.merge(wmo, how="left", on="wmo")

In [29]:
data_2000.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,Province
0,71031,2000-01-01 12:00:00,8.1,4.2,76.8,7.4,NaN,250,1006.37,24.5,5.32,0,0.0,27.0,0.2,1.2,0.3,0.0,0.0,0.0,British Columbia
1,71798,2000-01-01 12:00:00,6.7,4.0,82.0,22.2,31.5,250,1005.90,24.1,7.40,0,0.0,25.4,0.1,0.9,0.2,0.0,0.0,0.0,British Columbia
2,71036,2000-01-01 12:00:00,7.8,3.8,76.3,16.7,NaN,250,1006.27,27.6,5.31,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manitoba
3,71774,2000-01-01 12:00:00,4.7,2.6,86.0,13.0,NaN,270,1006.06,41.3,9.40,0,0.0,16.8,0.1,0.6,0.1,0.0,0.0,0.0,British Columbia
4,71473,2000-01-01 12:00:00,7.0,3.5,78.1,3.7,NaN,330,1006.36,26.6,7.20,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,British Columbia

In [30]:
data_2000.shape

(3011855, 21)

In [31]:
data_2000.isna().sum()

wmo               0
rep_date          0
temp              0
td                2
rh                2
ws                0
wg          2594789
wdir              0
pres              0
vis               0
precip            7
rndays            0
sog               0
ffmc        1582218
dmc         1582218
dc          1582218
bui         1684019
isi         1684019
fwi         1684019
dsr         1684019
Province     649371
dtype: int64

In [32]:
data_2000_model = data_2000.groupby(["Province", "rep_date"]).agg("mean").reset_index()

In [33]:
data_2000_model.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,Alberta,2000-01-01 12:00:00,71334.3125,-14.800000,-18.257812,76.337500,10.743750,38.400000,150.609375,1012.318281,12.117188,1.597500,0.765625,2.469688,59.60,22.95,480.95,NaN,NaN,NaN,NaN
1,Alberta,2000-01-02 12:00:00,71334.3125,-20.190625,-23.459375,75.504688,9.878125,NaN,167.265625,1023.191563,16.257812,0.808906,0.921875,2.721250,62.35,22.95,480.95,NaN,NaN,NaN,NaN
2,Alberta,2000-01-03 12:00:00,71334.3125,-20.300000,-23.715625,74.668750,9.589063,54.333333,169.765625,1026.603750,24.687500,0.101875,1.390625,2.112500,67.85,22.95,480.95,NaN,NaN,NaN,NaN
3,Alberta,2000-01-04 12:00:00,71334.3125,-12.112500,-16.285937,72.748437,14.910937,49.550000,143.531250,1005.864063,22.387500,1.339375,0.750000,3.989844,77.30,37.30,614.40,NaN,NaN,NaN,NaN
4,Alberta,2000-01-05 12:00:00,71334.3125,-10.979688,-15.481250,71.239063,14.121875,36.083333,246.937500,1017.635625,21.531250,0.456719,0.781250,2.365938,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
data_2000_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47489 entries, 0 to 47488
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Province  47489 non-null  object
 1   rep_date  47489 non-null  datetime64[ns]
 2   wmo       47489 non-null  object
 3   temp      47489 non-null  float64
 4   td        47489 non-null  float64
 5   rh        47489 non-null  float64
 6   ws        47489 non-null  float64
 7   wg        40145 non-null  float64
 8   wdir      47489 non-null  float64
 9   pres      47489 non-null  float64
 10  vis       47489 non-null  float64
 11  precip    47489 non-null  float64
 12  rndays    47489 non-null  float64
 13  sog       47489 non-null  float64
 14  ffmc      36102 non-null  float64
 15  dmc       36102 non-null  float64
 16  dc        36102 non-null  float64
 17  bui       34419 non-null  float64
 18  isi       34419 non-null  float64
 19  fwi       34419 non-null  float64
 20  dsr       34419 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 7.6+ MB

In [35]:
data_2000_model["rep_date"].max()

Timestamp('2009-12-31 12:00:00')

Data from 2010-2019

In [36]:
data_2010.head()

,aes,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,opts,calcstatus
0,1012475,71031,2010-01-01 12:00:00,9.1,8.1,93.5,19.0,NaN,160,1002.95,21.5,10.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=RH:R:M=1:,-3
1,1012710,71798,2010-01-01 12:00:00,7.3,7.3,100.0,2.0,NaN,90,1002.10,23.8,7.40,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M=1:,-3
2,1014820,71774,2010-01-01 12:00:00,5.8,5.8,100.0,7.4,NaN,154,1003.00,22.7,14.78,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=RH:WSD:R:M=1:,-3
3,1015630,71927,2010-01-01 12:00:00,4.8,4.0,95.0,7.0,NaN,160,1001.20,18.3,11.59,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=R:M=1:,-3
4,1016640,71778,2010-01-01 12:00:00,8.9,7.4,90.7,9.0,NaN,80,1002.78,22.1,9.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=T:RH:R:M=1:,-3

In [37]:
data_2010.drop(["aes","opts", "calcstatus"], axis=1, inplace=True)

In [38]:
data_2010["rep_date"] = pd.to_datetime(data_2010["rep_date"])
data_2010["wmo"] = data_2010["wmo"].astype(object)

In [39]:
data_2010.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,71031,2010-01-01 12:00:00,9.1,8.1,93.5,19.0,NaN,160,1002.95,21.5,10.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,71798,2010-01-01 12:00:00,7.3,7.3,100.0,2.0,NaN,90,1002.10,23.8,7.40,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71774,2010-01-01 12:00:00,5.8,5.8,100.0,7.4,NaN,154,1003.00,22.7,14.78,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71927,2010-01-01 12:00:00,4.8,4.0,95.0,7.0,NaN,160,1001.20,18.3,11.59,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,71778,2010-01-01 12:00:00,8.9,7.4,90.7,9.0,NaN,80,1002.78,22.1,9.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
data_2010 = data_2010.merge(wmo, how="left", on="wmo")

In [41]:
data_2010.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,Province
0,71031,2010-01-01 12:00:00,9.1,8.1,93.5,19.0,NaN,160,1002.95,21.5,10.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,British Columbia
1,71798,2010-01-01 12:00:00,7.3,7.3,100.0,2.0,NaN,90,1002.10,23.8,7.40,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,British Columbia
2,71774,2010-01-01 12:00:00,5.8,5.8,100.0,7.4,NaN,154,1003.00,22.7,14.78,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,British Columbia
3,71927,2010-01-01 12:00:00,4.8,4.0,95.0,7.0,NaN,160,1001.20,18.3,11.59,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,British Columbia
4,71778,2010-01-01 12:00:00,8.9,7.4,90.7,9.0,NaN,80,1002.78,22.1,9.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,British Columbia

In [42]:
data_2010.shape

(3058601, 21)

In [43]:
data_2010.isna().sum()

wmo               0
rep_date          0
temp            818
td             6614
rh             6131
ws              854
wg          1880023
wdir              0
pres           5405
vis             818
precip           24
rndays            0
sog             117
ffmc        1480236
dmc         1482799
dc          1480210
bui         1598934
isi         1596571
fwi         1598955
dsr         1598955
Province     451335
dtype: int64

In [44]:
data_2010_model = data_2010.groupby(["Province", "rep_date"]).agg("mean").reset_index()

In [45]:
data_2010_model.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,Alberta,2010-01-01 12:00:00,71376.061453,-17.597765,-20.575419,78.127933,19.588268,NaN,159.083799,1018.450670,22.736313,0.997039,0.720670,5.191564,43.633333,4.80,508.233333,22.8,0.0,0.0,0.0
1,Alberta,2010-01-02 12:00:00,71376.061453,-14.687151,-18.030726,76.186592,16.372067,NaN,290.977654,1022.776816,25.672626,0.777989,0.966480,5.452179,46.600000,5.95,549.400000,22.8,0.1,0.1,0.0
2,Alberta,2010-01-03 12:00:00,71376.061453,-13.357542,-16.467598,78.182123,13.039665,NaN,177.536313,1030.483911,24.215084,0.492905,1.547486,5.201397,52.750000,5.95,549.400000,22.8,0.2,0.2,0.0
3,Alberta,2010-01-04 12:00:00,71376.061453,-15.810056,-18.217877,81.854190,4.573743,NaN,154.301676,1033.971173,15.120670,0.498156,1.586592,5.388380,55.900000,5.95,549.400000,NaN,NaN,NaN,NaN
4,Alberta,2010-01-05 12:00:00,71376.061453,-17.923464,-20.343575,81.381006,10.011173,NaN,216.888268,1034.164749,10.547486,1.345698,1.335196,5.594693,59.600000,5.95,549.400000,NaN,NaN,NaN,NaN

In [46]:
data_2010_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47474 entries, 0 to 47473
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Province  47474 non-null  object
 1   rep_date  47474 non-null  datetime64[ns]
 2   wmo       47474 non-null  object
 3   temp      47446 non-null  float64
 4   td        47297 non-null  float64
 5   rh        47305 non-null  float64
 6   ws        47446 non-null  float64
 7   wg        43071 non-null  float64
 8   wdir      47474 non-null  float64
 9   pres      47305 non-null  float64
 10  vis       47446 non-null  float64
 11  precip    47474 non-null  float64
 12  rndays    47474 non-null  float64
 13  sog       47470 non-null  float64
 14  ffmc      34968 non-null  float64
 15  dmc       34881 non-null  float64
 16  dc        34968 non-null  float64
 17  bui       33313 non-null  float64
 18  isi       33405 non-null  float64
 19  fwi       33313 non-null  float64
 20  dsr       33313 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 7.6+ MB

In [47]:
data_2010_model["rep_date"].describe()

count                            47474
mean     2014-12-31 22:58:01.855331328
min                2010-01-01 12:00:00
25%                2012-07-01 18:00:00
50%                2014-12-31 12:00:00
75%                2017-07-01 12:00:00
max                2019-12-31 12:00:00
Name: rep_date, dtype: object

Data from 1990-1999

In [48]:
data_1990.head()

,aes,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,opts,calcstatus
0,1018620,71799,1990-01-01 12:00:00,6.0,2.2,77.0,13.0,NaN,330,1009.9,40.2,0.01,1,0.0,48.5,0.3,94.8,0.5,0.3,0.1,0.0,M=1:,1
1,1021261,71205,1990-01-01 12:00:00,5.4,1.3,75.0,9.0,NaN,320,1009.5,24.1,1.00,0,0.0,40.0,0.3,3.1,0.4,0.1,0.0,0.0,M=1:,1
2,1021830,71893,1990-01-01 12:00:00,5.5,2.0,78.0,11.0,NaN,350,1009.4,32.2,0.01,1,0.0,47.6,0.2,2.0,0.4,0.2,0.0,0.0,M=1:,1
3,1025370,71890,1990-01-01 12:00:00,4.4,2.6,88.0,0.0,NaN,0,1009.4,32.2,2.00,0,0.0,12.6,0.1,31.7,0.1,0.0,0.0,0.0,M=1:,1
4,1026270,71109,1990-01-01 12:00:00,2.2,0.6,89.0,7.0,NaN,340,1011.4,12.9,7.20,0,0.0,12.4,0.0,0.1,0.0,0.0,0.0,0.0,M=1:,1

In [49]:
data_1990.drop(["aes","opts", "calcstatus"], axis=1, inplace=True)

In [50]:
data_1990["rep_date"] = pd.to_datetime(data_1990["rep_date"])
data_1990["wmo"] = data_1990["wmo"].astype(object)

In [51]:
data_1990.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,71799,1990-01-01 12:00:00,6.0,2.2,77.0,13.0,NaN,330,1009.9,40.2,0.01,1,0.0,48.5,0.3,94.8,0.5,0.3,0.1,0.0
1,71205,1990-01-01 12:00:00,5.4,1.3,75.0,9.0,NaN,320,1009.5,24.1,1.00,0,0.0,40.0,0.3,3.1,0.4,0.1,0.0,0.0
2,71893,1990-01-01 12:00:00,5.5,2.0,78.0,11.0,NaN,350,1009.4,32.2,0.01,1,0.0,47.6,0.2,2.0,0.4,0.2,0.0,0.0
3,71890,1990-01-01 12:00:00,4.4,2.6,88.0,0.0,NaN,0,1009.4,32.2,2.00,0,0.0,12.6,0.1,31.7,0.1,0.0,0.0,0.0
4,71109,1990-01-01 12:00:00,2.2,0.6,89.0,7.0,NaN,340,1011.4,12.9,7.20,0,0.0,12.4,0.0,0.1,0.0,0.0,0.0,0.0

In [52]:
data_1990 = data_1990.merge(wmo, how="left", on="wmo")

In [53]:
data_1990.head()

,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,Province
0,71799,1990-01-01 12:00:00,6.0,2.2,77.0,13.0,NaN,330,1009.9,40.2,0.01,1,0.0,48.5,0.3,94.8,0.5,0.3,0.1,0.0,British Columbia
1,71205,1990-01-01 12:00:00,5.4,1.3,75.0,9.0,NaN,320,1009.5,24.1,1.00,0,0.0,40.0,0.3,3.1,0.4,0.1,0.0,0.0,NaN
2,71893,1990-01-01 12:00:00,5.5,2.0,78.0,11.0,NaN,350,1009.4,32.2,0.01,1,0.0,47.6,0.2,2.0,0.4,0.2,0.0,0.0,British Columbia
3,71890,1990-01-01 12:00:00,4.4,2.6,88.0,0.0,NaN,0,1009.4,32.2,2.00,0,0.0,12.6,0.1,31.7,0.1,0.0,0.0,0.0,Quebec
4,71109,1990-01-01 12:00:00,2.2,0.6,89.0,7.0,NaN,340,1011.4,12.9,7.20,0,0.0,12.4,0.0,0.1,0.0,0.0,0.0,0.0,British Columbia

In [54]:
data_1990.shape

(1580920, 21)

In [55]:
data_1990.isna().sum()

wmo               0
rep_date          0
temp              0
td                0
rh                0
ws                0
wg          1580920
wdir              0
pres              0
vis               0
precip           14
rndays            0
sog               0
ffmc         838360
dmc          838360
dc           838360
bui          887064
isi          887064
fwi          887064
dsr          887064
Province     442310
dtype: int64

In [56]:
data_1990_model = data_1990.groupby(["Province", "rep_date"]).agg("mean").reset_index()

In [57]:
data_1990_model.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,Alberta,1990-01-01 12:00:00,71527.769231,-4.153846,-8.515385,72.384615,12.923077,NaN,239.230769,1001.015385,24.000000,0.950000,2.615385,7.388462,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alberta,1990-01-02 12:00:00,71527.769231,-13.684615,-17.215385,75.153846,8.615385,NaN,138.461538,1016.115385,14.984615,1.800000,0.000000,8.619231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alberta,1990-01-03 12:00:00,71527.769231,-18.115385,-21.869231,73.846154,11.076923,NaN,159.230769,1018.561538,21.084615,2.194615,0.307692,10.616154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alberta,1990-01-04 12:00:00,71527.769231,-18.023077,-21.046154,77.923077,5.538462,NaN,66.153846,1013.369231,15.407692,1.640769,0.615385,12.230769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alberta,1990-01-05 12:00:00,71527.769231,-12.923077,-15.769231,79.846154,10.615385,NaN,139.230769,1008.946154,21.530769,2.702308,0.615385,13.846154,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
data_1990_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47476 entries, 0 to 47475
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Province  47476 non-null  object
 1   rep_date  47476 non-null  datetime64[ns]
 2   wmo       47476 non-null  object
 3   temp      47476 non-null  float64
 4   td        47476 non-null  float64
 5   rh        47476 non-null  float64
 6   ws        47476 non-null  float64
 7   wg        0 non-null      float64
 8   wdir      47476 non-null  float64
 9   pres      47476 non-null  float64
 10  vis       47476 non-null  float64
 11  precip    47476 non-null  float64
 12  rndays    47476 non-null  float64
 13  sog       47476 non-null  float64
 14  ffmc      33410 non-null  float64
 15  dmc       33410 non-null  float64
 16  dc        33410 non-null  float64
 17  bui       31881 non-null  float64
 18  isi       31881 non-null  float64
 19  fwi       31881 non-null  float64
 20  dsr       31881 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 7.6+ MB

In [59]:
data_1990_model["rep_date"].describe()

count                            47476
mean     1995-01-01 00:00:00.000000128
min                1990-01-01 12:00:00
25%                1992-07-02 06:00:00
50%                1995-01-01 00:00:00
75%                1997-07-01 18:00:00
max                1999-12-31 12:00:00
Name: rep_date, dtype: object

Data_train

In [60]:
print(data_1990_model.shape)
print(data_2000_model.shape)
print(data_2010_model.shape)

(47476, 21)
(47489, 21)
(47474, 21)

In [61]:
print(data_1990_model.columns)
print(data_2000_model.columns)
print(data_2010_model.columns)
print(data_test_model.columns)

Index(['Province', 'rep_date', 'wmo', 'temp', 'td', 'rh', 'ws', 'wg', 'wdir',
       'pres', 'vis', 'precip', 'rndays', 'sog', 'ffmc', 'dmc', 'dc', 'bui',
       'isi', 'fwi', 'dsr'],
      dtype='object')
Index(['Province', 'rep_date', 'wmo', 'temp', 'td', 'rh', 'ws', 'wg', 'wdir',
       'pres', 'vis', 'precip', 'rndays', 'sog', 'ffmc', 'dmc', 'dc', 'bui',
       'isi', 'fwi', 'dsr'],
      dtype='object')
Index(['Province', 'rep_date', 'wmo', 'temp', 'td', 'rh', 'ws', 'wg', 'wdir',
       'pres', 'vis', 'precip', 'rndays', 'sog', 'ffmc', 'dmc', 'dc', 'bui',
       'isi', 'fwi', 'dsr'],
      dtype='object')
Index(['Province', 'rep_date', 'wmo', 'temp', 'td', 'rh', 'ws', 'wg', 'wdir',
       'pres', 'vis', 'precip', 'rndays', 'sog', 'ffmc', 'dmc', 'dc', 'bui',
       'isi', 'fwi', 'dsr'],
      dtype='object')

In [62]:
data_train_model = pd.concat([data_1990_model, data_2000_model, data_2010_model, data_test_model], join="inner")
data_train_model.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,Alberta,1990-01-01 12:00:00,71527.769231,-4.153846,-8.515385,72.384615,12.923077,NaN,239.230769,1001.015385,24.000000,0.950000,2.615385,7.388462,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alberta,1990-01-02 12:00:00,71527.769231,-13.684615,-17.215385,75.153846,8.615385,NaN,138.461538,1016.115385,14.984615,1.800000,0.000000,8.619231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alberta,1990-01-03 12:00:00,71527.769231,-18.115385,-21.869231,73.846154,11.076923,NaN,159.230769,1018.561538,21.084615,2.194615,0.307692,10.616154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alberta,1990-01-04 12:00:00,71527.769231,-18.023077,-21.046154,77.923077,5.538462,NaN,66.153846,1013.369231,15.407692,1.640769,0.615385,12.230769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alberta,1990-01-05 12:00:00,71527.769231,-12.923077,-15.769231,79.846154,10.615385,NaN,139.230769,1008.946154,21.530769,2.702308,0.615385,13.846154,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
data_train_model.shape

(158909, 21)

In [64]:
labels.head()

,FID,SRC_AGENCY,FIRE_ID,FIRENAME,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,REP_DATE,ATTK_DATE,OUT_DATE,DECADE,SIZE_HA,CAUSE,PROTZONE,FIRE_TYPE,MORE_INFO,CFS_REF_ID,CFS_NOTE1,CFS_NOTE2,ACQ_DATE,SRC_AGY2,ECOZONE,ECOZ_NAME,ECOZ_NOM
0,0,BC,1953-G00041,,59.963,-128.172,1953,5,26,1953-05-26 00:00:00,NaN,NaN,1950-1959,8.0,H,,Fire,,BC-1953-1953-G00041,,,2020-05-05 00:00:00,BC,12,Boreal Cordillera,CordillCre boreale
1,1,BC,1950-R00028,,59.318,-132.172,1950,6,22,1950-06-22 00:00:00,NaN,NaN,1950-1959,8.0,L,,Fire,,BC-1950-1950-R00028,,,2020-05-05 00:00:00,BC,12,Boreal Cordillera,CordillCre boreale
2,2,BC,1950-G00026,,59.876,-131.922,1950,6,4,1950-06-04 00:00:00,NaN,NaN,1950-1959,12949.9,H,,Fire,,BC-1950-1950-G00026,,,2020-05-05 00:00:00,BC,12,Boreal Cordillera,CordillCre boreale
3,3,BC,1951-R00097,,59.760,-132.808,1951,7,15,1951-07-15 00:00:00,NaN,NaN,1950-1959,241.1,H,,Fire,,BC-1951-1951-R00097,,,2020-05-05 00:00:00,BC,12,Boreal Cordillera,CordillCre boreale
4,4,BC,1952-G00116,,59.434,-126.172,1952,6,12,1952-06-12 00:00:00,NaN,NaN,1950-1959,1.2,H,,Fire,,BC-1952-1952-G00116,,,2020-05-05 00:00:00,BC,12,Boreal Cordillera,CordillCre boreale

In [65]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423831 entries, 0 to 423830
Data columns (total 26 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FID         423831 non-null  int64
 1   SRC_AGENCY  423831 non-null  object
 2   FIRE_ID     423666 non-null  object
 3   FIRENAME    423830 non-null  object
 4   LATITUDE    423831 non-null  float64
 5   LONGITUDE   423831 non-null  float64
 6   YEAR        423831 non-null  int64
 7   MONTH       423831 non-null  int64
 8   DAY         423831 non-null  int64
 9   REP_DATE    420118 non-null  object
 10  ATTK_DATE   28740 non-null   object
 11  OUT_DATE    213092 non-null  object
 12  DECADE      423831 non-null  object
 13  SIZE_HA     423831 non-null  float64
 14  CAUSE       423590 non-null  object
 15  PROTZONE    422821 non-null  object
 16  FIRE_TYPE   423831 non-null  object
 17  MORE_INFO   423831 non-null  object
 18  CFS_REF_ID  423831 non-null  object
 19  CFS_NOTE1   423831 non-null  object
 20  CFS_NOTE2   423831 non-null  object
 21  ACQ_DATE    413226 non-null  object
 22  SRC_AGY2    423831 non-null  object
 23  ECOZONE     423831 non-null  int64
 24  ECOZ_NAME   423831 non-null  object
 25  ECOZ_NOM    423831 non-null  object
dtypes: float64(3), int64(5), object(18)
memory usage: 84.1+ MB

In [66]:
labels = labels[["SRC_AGY2", "REP_DATE", "CAUSE", "SIZE_HA"]]
labels.columns = ["Province", "rep_date", "cause", "size_ha"]

In [67]:
labels.head()

  Province             rep_date cause  size_ha
0       BC  1953-05-26 00:00:00     H      8.0
1       BC  1950-06-22 00:00:00     L      8.0
2       BC  1950-06-04 00:00:00     H  12949.9
3       BC  1951-07-15 00:00:00     H    241.1
4       BC  1952-06-12 00:00:00     H      1.2

In [68]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423831 entries, 0 to 423830
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Province  423831 non-null  object
 1   rep_date  420118 non-null  object
 2   cause     423590 non-null  object
 3   size_ha   423831 non-null  float64
dtypes: float64(1), object(3)
memory usage: 12.9+ MB

In [69]:
labels.dropna(axis=0, inplace=True)

In [70]:
labels["rep_date"] = pd.to_datetime(labels["rep_date"])

In [71]:
labels["rep_date"].describe()

count                           419877
mean     1991-07-27 01:08:55.039547392
min                1930-03-07 00:00:00
25%                1979-07-27 00:00:00
50%                1991-07-02 00:00:00
75%                2005-06-27 00:00:00
max                2021-12-14 00:00:00
Name: rep_date, dtype: object

In [72]:
labels["Province"].value_counts()

Province
BC    149392
ON     63498
AB     62275
QC     43122
SK     25203
MB     24651
NT     14247
NB     11029
NS     10447
YT      7956
NL      4259
PC      3798
Name: count, dtype: int64

In [73]:
province = {"BC":"British Columbia", "ON":"Ontario", "AB":"Alberta", "QC":"Quebec", "SK":"Saskatchewan", "MB":"Manitoba", "NT":"Northwest Territories", "NB":"New Brunswick", "NS":"Nova Scotia", "YT":"Yukon", "NL":"Newfoundland and Labrador", "PC":"Parks Canada"}
labels["Province"] = labels["Province"].replace(province)

In [74]:
labels["cause"].value_counts()

cause
H       230132
L       182944
U         6430
H-PB       297
RE          74
Name: count, dtype: int64

In [75]:
cause = {"H":"Human activity", "L":"Lightning", "U":"Unspecified", "H-PB":"Prescribed burn", "RE":"Reburn"}
labels["cause"] = labels["cause"].replace(cause)

In [76]:
labels["Fire"] = 1

In [77]:
labels.head()

           Province   rep_date           cause  size_ha  Fire
0  British Columbia 1953-05-26  Human activity      8.0     1
1  British Columbia 1950-06-22       Lightning      8.0     1
2  British Columbia 1950-06-04  Human activity  12949.9     1
3  British Columbia 1951-07-15  Human activity    241.1     1
4  British Columbia 1952-06-12  Human activity      1.2     1

In [78]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 419877 entries, 0 to 423830
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Province  419877 non-null  object
 1   rep_date  419877 non-null  datetime64[ns]
 2   cause     419877 non-null  object
 3   size_ha   419877 non-null  float64
 4   Fire      419877 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 19.2+ MB

In [79]:
data_train_model.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158909 entries, 0 to 18458
Data columns (total 21 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Province  158909 non-null  object
 1   rep_date  158909 non-null  datetime64[ns]
 2   wmo       158909 non-null  object
 3   temp      158881 non-null  float64
 4   td        158692 non-null  float64
 5   rh        158740 non-null  float64
 6   ws        158881 non-null  float64
 7   wg        99628 non-null   float64
 8   wdir      158909 non-null  float64
 9   pres      158740 non-null  float64
 10  vis       158881 non-null  float64
 11  precip    158909 non-null  float64
 12  rndays    158909 non-null  float64
 13  sog       158896 non-null  float64
 14  ffmc      115474 non-null  float64
 15  dmc       115387 non-null  float64
 16  dc        115474 non-null  float64
 17  bui       110134 non-null  float64
 18  isi       110226 non-null  float64
 19  fwi       110134 non-null  float64
 20  dsr       110134 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 26.7+ MB

In [80]:
labels['rep_date'] = labels['rep_date'].dt.date
data_train_model['rep_date'] = data_train_model['rep_date'].dt.date

In [81]:
labels.head()

           Province    rep_date           cause  size_ha  Fire
0  British Columbia  1953-05-26  Human activity      8.0     1
1  British Columbia  1950-06-22       Lightning      8.0     1
2  British Columbia  1950-06-04  Human activity  12949.9     1
3  British Columbia  1951-07-15  Human activity    241.1     1
4  British Columbia  1952-06-12  Human activity      1.2     1

In [82]:
data_train_model.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
0,Alberta,1990-01-01,71527.769231,-4.153846,-8.515385,72.384615,12.923077,NaN,239.230769,1001.015385,24.000000,0.950000,2.615385,7.388462,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alberta,1990-01-02,71527.769231,-13.684615,-17.215385,75.153846,8.615385,NaN,138.461538,1016.115385,14.984615,1.800000,0.000000,8.619231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alberta,1990-01-03,71527.769231,-18.115385,-21.869231,73.846154,11.076923,NaN,159.230769,1018.561538,21.084615,2.194615,0.307692,10.616154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alberta,1990-01-04,71527.769231,-18.023077,-21.046154,77.923077,5.538462,NaN,66.153846,1013.369231,15.407692,1.640769,0.615385,12.230769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alberta,1990-01-05,71527.769231,-12.923077,-15.769231,79.846154,10.615385,NaN,139.230769,1008.946154,21.530769,2.702308,0.615385,13.846154,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
data_train_modelo = data_train_model.merge(labels, how="left", on=["Province", "rep_date"])
data_train_modelo.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,cause,size_ha,Fire
0,Alberta,1990-01-01,71527.769231,-4.153846,-8.515385,72.384615,12.923077,NaN,239.230769,1001.015385,24.000000,0.950000,2.615385,7.388462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human activity,0.1,1.0
1,Alberta,1990-01-02,71527.769231,-13.684615,-17.215385,75.153846,8.615385,NaN,138.461538,1016.115385,14.984615,1.800000,0.000000,8.619231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alberta,1990-01-03,71527.769231,-18.115385,-21.869231,73.846154,11.076923,NaN,159.230769,1018.561538,21.084615,2.194615,0.307692,10.616154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alberta,1990-01-04,71527.769231,-18.023077,-21.046154,77.923077,5.538462,NaN,66.153846,1013.369231,15.407692,1.640769,0.615385,12.230769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alberta,1990-01-05,71527.769231,-12.923077,-15.769231,79.846154,10.615385,NaN,139.230769,1008.946154,21.530769,2.702308,0.615385,13.846154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
data_train_modelo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340019 entries, 0 to 340018
Data columns (total 24 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Province  340019 non-null  object
 1   rep_date  340019 non-null  object
 2   wmo       340019 non-null  object
 3   temp      339991 non-null  float64
 4   td        339749 non-null  float64
 5   rh        339798 non-null  float64
 6   ws        339991 non-null  float64
 7   wg        206956 non-null  float64
 8   wdir      340019 non-null  float64
 9   pres      339798 non-null  float64
 10  vis       339991 non-null  float64
 11  precip    340019 non-null  float64
 12  rndays    340019 non-null  float64
 13  sog       340006 non-null  float64
 14  ffmc      296154 non-null  float64
 15  dmc       296030 non-null  float64
 16  dc        296154 non-null  float64
 17  bui       290568 non-null  float64
 18  isi       290709 non-null  float64
 19  fwi       290568 non-null  float64
 20  dsr       290568 non-null  float64
 21  cause     221857 non-null  object
 22  size_ha   221857 non-null  float64
 23  Fire      221857 non-null  float64
dtypes: float64(20), object(4)
memory usage: 62.3+ MB

In [85]:
data_train_modelo.head()

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,cause,size_ha,Fire
0,Alberta,1990-01-01,71527.769231,-4.153846,-8.515385,72.384615,12.923077,NaN,239.230769,1001.015385,24.000000,0.950000,2.615385,7.388462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human activity,0.1,1.0
1,Alberta,1990-01-02,71527.769231,-13.684615,-17.215385,75.153846,8.615385,NaN,138.461538,1016.115385,14.984615,1.800000,0.000000,8.619231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alberta,1990-01-03,71527.769231,-18.115385,-21.869231,73.846154,11.076923,NaN,159.230769,1018.561538,21.084615,2.194615,0.307692,10.616154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alberta,1990-01-04,71527.769231,-18.023077,-21.046154,77.923077,5.538462,NaN,66.153846,1013.369231,15.407692,1.640769,0.615385,12.230769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alberta,1990-01-05,71527.769231,-12.923077,-15.769231,79.846154,10.615385,NaN,139.230769,1008.946154,21.530769,2.702308,0.615385,13.846154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
data_train_modelo["cause"].fillna("NA",inplace=True)
data_train_modelo["size_ha"].fillna(0,inplace=True)
data_train_modelo["Fire"].fillna(0,inplace=True)

In [87]:
data_train_modelo["cause"].value_counts()

cause
NA                 118162
Human activity     113064
Lightning          104021
Unspecified          4620
Prescribed burn        78
Reburn                 74
Name: count, dtype: int64

In [88]:
data_train_modelo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340019 entries, 0 to 340018
Data columns (total 24 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Province  340019 non-null  object
 1   rep_date  340019 non-null  object
 2   wmo       340019 non-null  object
 3   temp      339991 non-null  float64
 4   td        339749 non-null  float64
 5   rh        339798 non-null  float64
 6   ws        339991 non-null  float64
 7   wg        206956 non-null  float64
 8   wdir      340019 non-null  float64
 9   pres      339798 non-null  float64
 10  vis       339991 non-null  float64
 11  precip    340019 non-null  float64
 12  rndays    340019 non-null  float64
 13  sog       340006 non-null  float64
 14  ffmc      296154 non-null  float64
 15  dmc       296030 non-null  float64
 16  dc        296154 non-null  float64
 17  bui       290568 non-null  float64
 18  isi       290709 non-null  float64
 19  fwi       290568 non-null  float64
 20  dsr       290568 non-null  float64
 21  cause     340019 non-null  object
 22  size_ha   340019 non-null  float64
 23  Fire      340019 non-null  float64
dtypes: float64(20), object(4)
memory usage: 62.3+ MB

In [89]:
data_train_modelo["Fire"] = data_train_modelo["Fire"].astype(int)

Modeling

In [90]:
from skmultilearn.model_selection import iterative_train_test_split
from sklearn.model_selection import KFold, GridSearchCV, cross_val_score, train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import classification_report, accuracy_score, precision_score, f1_score
from sklearn.naive_bayes import MultinomialNB

from sklearn.ensemble import AdaBoostClassifier   # Ensamble AdaBoost para regresion
from sklearn.ensemble import GradientBoostingClassifier   # Ensamble Gradient Boosting para regresion
from sklearn.ensemble import RandomForestClassifier   # Ensamble RandomForest para regresion
from sklearn.ensemble import ExtraTreesClassifier, VotingClassifier    # Ensamble ExtraTrees para regresion
from xgboost import XGBClassifier as xgbc

from sklearn.linear_model import LogisticRegression, RidgeClassifierCV, Perceptron # para usar modelos de regresion logistica  
from sklearn.tree import DecisionTreeClassifier     # para usar modelos de tipo arboles de decision
from sklearn.neighbors import KNeighborsClassifier  # para modelos  Knn 
from sklearn.svm import SVC

import pandas as pd
import numpy as np

In [91]:
print(data_train_modelo.shape)
print(data_test_model.shape)

(340019, 24)
(16470, 21)

In [92]:
data_train_modelo.head(2)

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,cause,size_ha,Fire
0,Alberta,1990-01-01,71527.769231,-4.153846,-8.515385,72.384615,12.923077,NaN,239.230769,1001.015385,24.000000,0.95,2.615385,7.388462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human activity,0.1,1
1,Alberta,1990-01-02,71527.769231,-13.684615,-17.215385,75.153846,8.615385,NaN,138.461538,1016.115385,14.984615,1.80,0.000000,8.619231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,0.0,0

In [93]:
data_train_modelo = pd.get_dummies(data_train_modelo, columns=["Province"], dtype=int, prefix="", prefix_sep="")

In [94]:
data_test_model.head(2)

,Province,rep_date,wmo,temp,td,rh,ws,wg,wdir,pres,vis,precip,rndays,sog,ffmc,dmc,dc,bui,isi,fwi,dsr
153,Alberta,2020-01-01 12:00:00,71376.352941,-1.652406,-3.65615,86.835829,10.469519,13.160714,262.069519,995.021604,22.988770,0.291872,4.893048,3.306417,74.55,4.3,353.225,8.25,1.250,0.700,0.000
154,Alberta,2020-01-02 12:00:00,71376.352941,-3.149198,-8.73369,68.270588,22.113904,30.107143,281.267380,1006.301283,21.173262,0.817914,2.149733,3.616845,77.25,4.3,353.225,8.25,2.925,2.525,0.175

In [95]:
data_test_model = pd.get_dummies(data_test_model, columns=["Province"], dtype=int, prefix="", prefix_sep="")

In [96]:
X = data_train_modelo.drop(["rep_date", "wmo", "cause", "size_ha", "Fire"], axis=1)
y = data_train_modelo[["cause", "Fire"]]
data_test_model = data_test_model.drop(["rep_date", "wmo"], axis=1)

In [97]:
X.columns

Index(['temp', 'td', 'rh', 'ws', 'wg', 'wdir', 'pres', 'vis', 'precip',
       'rndays', 'sog', 'ffmc', 'dmc', 'dc', 'bui', 'isi', 'fwi', 'dsr',
       'Alberta', 'British Columbia', 'Manitoba', 'New Brunswick',
       'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia',
       'Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan',
       'Yukon'],
      dtype='object')

In [98]:
data_test_model.columns

Index(['temp', 'td', 'rh', 'ws', 'wg', 'wdir', 'pres', 'vis', 'precip',
       'rndays', 'sog', 'ffmc', 'dmc', 'dc', 'bui', 'isi', 'fwi', 'dsr',
       'Alberta', 'British Columbia', 'Manitoba', 'New Brunswick',
       'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia',
       'Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan',
       'Yukon'],
      dtype='object')

In [99]:
y.columns

Index(['cause', 'Fire'], dtype='object')

In [100]:
y = pd.get_dummies(y, columns=["cause"], dtype=int, prefix="", prefix_sep="")

In [101]:
y.head()

   Fire  Human activity  Lightning  NA  Prescribed burn  Reburn  Unspecified
0     1               1          0   0                0       0            0
1     0               0          0   1                0       0            0
2     0               0          0   1                0       0            0
3     0               0          0   1                0       0            0
4     0               0          0   1                0       0            0

In [102]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(272015, 31) (68004, 31) (272015, 7) (68004, 7)

In [103]:
model = OneVsRestClassifier(xgbc())
model.fit(X_train, y_train)

OneVsRestClassifier(estimator=XGBClassifier(base_score=None, booster=None,
                                            callbacks=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None,
                                            early_stopping_rounds=None,
                                            enable_categorical=False,
                                            eval_metric=None,
                                            feature_types=None, gamma=None,
                                            gpu_id=None, grow_policy=None,
                                            importance_type=None,
                                            interaction_constraints=None,
                                            learning_rate=None, max_bin=None,
                                            max_cat_threshold=None,
                                            max_cat_to_onehot=None,
                                            max_delta_step=None, max_depth=None,
                                            max_leaves=None,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimators=100, n_jobs=None,
                                            num_parallel_tree=None,
                                            predictor=None, random_state=None, ...))

In [104]:
y_pred = model.predict(X_test)

In [105]:
print(accuracy_score(y_pred, y_test))

0.7786159637668373

In [106]:
"""algos = []
algos.append(('LR', OneVsRestClassifier(LogisticRegression())))
algos.append(('SVM', OneVsRestClassifier(SVC())))
algos.append(('GradientBoosting', OneVsRestClassifier(GradientBoostingClassifier())))
algos.append(('RandomForest', OneVsRestClassifier(RandomForestClassifier())))
algos.append(('ExtraTrees', OneVsRestClassifier(ExtraTreesClassifier())))
algos.append(('Xgbc', OneVsRestClassifier(xgbc())))"""

"algos = []\nalgos.append(('LR', OneVsRestClassifier(LogisticRegression())))\nalgos.append(('SVM', OneVsRestClassifier(SVC())))\nalgos.append(('GradientBoosting', OneVsRestClassifier(GradientBoostingClassifier())))\nalgos.append(('RandomForest', OneVsRestClassifier(RandomForestClassifier())))\nalgos.append(('ExtraTrees', OneVsRestClassifier(ExtraTreesClassifier())))\nalgos.append(('Xgbc', OneVsRestClassifier(xgbc())))"

In [107]:
"""# Evaluamos cada algoritmo en estrategia de 10-fold-CV
results = []
names = []
row_index = 0
# genera el particionamiento de 10 folds que seran usados en cada evaluacion
seed = 10   
kfold = KFold(n_splits=10, random_state=seed, shuffle= True)  # especifica el particionador de datos a 10-folds CV

MLA_columns = ['MLA Name', 'MLA Parameters','MLA Score']
MLA_compare = pd.DataFrame(columns = MLA_columns)

#  evalua cada algoritmo
for algoname, algo in algos:
    MLA_compare.loc[row_index, 'MLA Name'] = algoname
    MLA_compare.loc[row_index, 'MLA Parameters'] = str(algo.get_params())
    cv_results = cross_val_score(algo, X_train, y_train, cv=kfold, scoring='f1_weighted') # dado que son clases balanceadas usamos accuracy
    MLA_compare.loc[row_index, 'MLA Score'] = cv_results.mean()
    MLA_compare.loc[row_index, 'MLA Std'] = cv_results.std()
    results.append(cv_results)
    names.append(algoname)
    row_index+=1"""

"# Evaluamos cada algoritmo en estrategia de 10-fold-CV\nresults = []\nnames = []\nrow_index = 0\n# genera el particionamiento de 10 folds que seran usados en cada evaluacion\nseed = 10   \nkfold = KFold(n_splits=10, random_state=seed, shuffle= True)  # especifica el particionador de datos a 10-folds CV\n\nMLA_columns = ['MLA Name', 'MLA Parameters','MLA Score']\nMLA_compare = pd.DataFrame(columns = MLA_columns)\n\n#  evalua cada algoritmo\nfor algoname, algo in algos:\n    MLA_compare.loc[row_index, 'MLA Name'] = algoname\n    MLA_compare.loc[row_index, 'MLA Parameters'] = str(algo.get_params())\n    cv_results = cross_val_score(algo, X_train, y_train, cv=kfold, scoring='f1_weighted') # dado que son clases balanceadas usamos accuracy\n    MLA_compare.loc[row_index, 'MLA Score'] = cv_results.mean()\n    MLA_compare.loc[row_index, 'MLA Std'] = cv_results.std()\n    results.append(cv_results)\n    names.append(algoname)\n    row_index+=1"